$default-font: "SuisseIntl", sans-serif;
$accent: blue;
$text: #333536;
$dark: #333536;
$blue: #0957C3;
$yellow: #FF9D00;
$gray: #C8C8C8;
$fiolet: #698AFF;
$greenDark: #178199;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts/icon/" !default;

$icon-kievstar: "\e905";
$icon-kievstar-m: "\e907";
$icon-pinterest: "\e908";
$icon-viber: "\e909";
$icon-youtube: "\e90a";
$icon-telegram: "\e90b";
$icon-twitter: "\e90c";
$icon-insta: "\e90d";
$icon-pen: "\e90e";
$icon-facebook: "\e90f";
$icon-life: "\e910";
$icon-mts: "\e911";
$icon-phone: "\e912";
$icon-clock: "\e913";
$icon-analyzes: "\e914";
$icon-sales: "\e915";
$icon-diagnostic: "\e916";
$icon-clinics: "\e917";
$icon-call: "\e918";
$icon-inphone: "\e919";
$icon-securt-cl: "\e91a";
$icon-cash: "\e91b";
$icon-card: "\e91c";
$icon-require: "\e91d";
$icon-google: "\e91e";
$icon-attantion: "\e91f";
$icon-apple: "\e920";
$icon-promocode: "\e921";
$icon-logout: "\e922";
$icon-chat-m: "\e923";
$icon-edits-m: "\e924";
$icon-user-m: "\e925";
$icon-angle-arrow-down: "\e926";
$icon-mark: "\e927";
$icon-truck: "\e928";
$icon-info: "\e929";
$icon-loop: "\e92a";
$icon-help: "\e92b";
$icon-grid: "\e92c";
$icon-list: "\e92d";
$icon-basket: "\e92e";
$icon-medicines: "\e92f";
$icon-basket-2: "\e930";
$icon-fire: "\e931";
$icon-health: "\e932";
$icon-home: "\e933";
$icon-user-m1: "\e934";
$icon-sale2: "\e935";
$icon-clipboard: "\e936";
$icon-arrovv: "\e937";
$icon-heart: "\e938";
$icon-star-a: "\e939";
$icon-dislike: "\e93a";
$icon-arr: "\e93b";
$icon-doctor: "\e93c";
$icon-call1: "\e93d";
$icon-calback: "\e93e";
$icon-phone-cl: "\e93f";
$icon-parcent-cl: "\e940";
$icon-star-e: "\e9d7";
$icon-in-map: "\e906";
$icon-district: "\e900";
$icon-metro: "\e901";
$icon-star: "\e902";
$icon-locate: "\e903";
$icon-close: "\e904";


$screenLg: 1200px;
$tabletWidth : 768px;
$desktopWidth : 992px;
$screen360 : "only screen and (max-width: 360px)";
$screen400 : "only screen and (max-width: 400px)";
$screen560 : "only screen and (max-width: 560px)";
$screen640 : "only screen and (max-width: 640px)";
$min640 : "only screen and (min-width: 641px)";
$tablet : "only screen and (min-width: " + $tabletWidth + ") and (max-width: " + ($desktopWidth - 1) + ")";

$large_desktop : "only screen and (min-width: " + $screenLg + ")";

$tablet_desktop : "only screen and (min-width: " + $tabletWidth + ")";
$desktop : "only screen and (min-width: " + $desktopWidth + ")";

$phone : "only screen and (max-width: " + ($tabletWidth - 1) + ")";
$phone_tablet : "only screen and (max-width: " + ($desktopWidth - 1) + ")";
$max1200 : "only screen and (max-width: " + ($screenLg - 1) + ")";

$tablet_large : "only screen and (min-width: " + $desktopWidth + ") and (max-width: " + ($screenLg - 1) + ")";
