@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?b6urnd');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?b6urnd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?b6urnd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?b6urnd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?b6urnd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kievstar {
  &:before {
    content: $icon-kievstar; 
  }
}
.icon-kievstar-m {
  &:before {
    content: $icon-kievstar-m; 
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-insta {
  &:before {
    content: $icon-insta; 
  }
}
.icon-pen {
  &:before {
    content: $icon-pen; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-life {
  &:before {
    content: $icon-life; 
  }
}
.icon-mts {
  &:before {
    content: $icon-mts; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-clock {
  &:before {
    content: $icon-clock; 
  }
}
.icon-analyzes {
  &:before {
    content: $icon-analyzes; 
  }
}
.icon-sales {
  &:before {
    content: $icon-sales; 
  }
}
.icon-diagnostic {
  &:before {
    content: $icon-diagnostic; 
  }
}
.icon-clinics {
  &:before {
    content: $icon-clinics; 
  }
}
.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-inphone {
  &:before {
    content: $icon-inphone; 
  }
}
.icon-securt-cl {
  &:before {
    content: $icon-securt-cl; 
  }
}
.icon-cash {
  &:before {
    content: $icon-cash; 
  }
}
.icon-card {
  &:before {
    content: $icon-card; 
  }
}
.icon-require {
  &:before {
    content: $icon-require; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-attantion {
  &:before {
    content: $icon-attantion; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-promocode {
  &:before {
    content: $icon-promocode; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-chat-m {
  &:before {
    content: $icon-chat-m; 
  }
}
.icon-edits-m {
  &:before {
    content: $icon-edits-m; 
  }
}
.icon-user-m {
  &:before {
    content: $icon-user-m; 
  }
}
.icon-angle-arrow-down {
  &:before {
    content: $icon-angle-arrow-down; 
  }
}
.icon-mark {
  &:before {
    content: $icon-mark; 
  }
}
.icon-truck {
  &:before {
    content: $icon-truck; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-loop {
  &:before {
    content: $icon-loop; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-grid {
  &:before {
    content: $icon-grid; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-basket {
  &:before {
    content: $icon-basket; 
  }
}
.icon-medicines {
  &:before {
    content: $icon-medicines; 
  }
}
.icon-basket-2 {
  &:before {
    content: $icon-basket-2; 
  }
}
.icon-fire {
  &:before {
    content: $icon-fire; 
  }
}
.icon-health {
  &:before {
    content: $icon-health; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-user-m1 {
  &:before {
    content: $icon-user-m1; 
  }
}
.icon-sale2 {
  &:before {
    content: $icon-sale2; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-arrovv {
  &:before {
    content: $icon-arrovv; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-star-a {
  &:before {
    content: $icon-star-a; 
  }
}
.icon-dislike {
  &:before {
    content: $icon-dislike; 
  }
}
.icon-arr {
  &:before {
    content: $icon-arr; 
  }
}
.icon-doctor {
  &:before {
    content: $icon-doctor; 
  }
}
.icon-call1 {
  &:before {
    content: $icon-call1; 
  }
}
.icon-calback {
  &:before {
    content: $icon-calback; 
  }
}
.icon-phone-cl {
  &:before {
    content: $icon-phone-cl; 
  }
}
.icon-parcent-cl {
  &:before {
    content: $icon-parcent-cl; 
  }
}
.icon-star-e {
  &:before {
    content: $icon-star-e; 
  }
}
.icon-in-map {
  &:before {
    content: $icon-in-map; 
  }
}
.icon-district {
  &:before {
    content: $icon-district; 
  }
}
.icon-metro {
  &:before {
    content: $icon-metro; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-locate {
  &:before {
    content: $icon-locate; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}

