// $default-font: "roboto-example", sans-serif;
// $accent: orange;
$text: #5e6e71;
$dark: #333536;
$blue: #0957C3;
$blue_middle: #B5CDED;
$blue_low: #EEF3FB;
$blue_low_extra: #F8FAFD;
$fiolet: #6B72F4;
$green: #47D7AC;
//$green: #46A5A8;
$gray: #8f8f8f;
$gray-light: #faf9f9;
$red: #fa706f;
$yellow: #FDB44F;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-kievstar: "\e900";
$icon-kievstar-m: "\e901";
$icon-pinterest: "\e902";
$icon-viber: "\e903";
$icon-youtube: "\e904";
$icon-telegram: "\e905";
$icon-twitter: "\e906";
$icon-insta: "\e907";
$icon-pen: "\e908";
$icon-facebook: "\e909";
$icon-life: "\e90a";
$icon-mts: "\e90b";
$icon-phone: "\e90c";
$icon-clock: "\e90d";
$icon-analyzes: "\e90e";
$icon-sales: "\e90f";
$icon-diagnostic: "\e910";
$icon-clinics: "\e911";
$icon-call: "\e912";
$icon-inphone: "\e913";
$icon-securt-cl: "\e914";
$icon-cash: "\e915";
$icon-card: "\e916";
$icon-require: "\e917";
$icon-google: "\e918";
$icon-attantion: "\e919";
$icon-apple: "\e91a";
$icon-promocode: "\e91b";
$icon-logout: "\e91c";
$icon-chat-m: "\e91d";
$icon-close: "\e91e";
$icon-edits-m: "\e91f";
$icon-locate: "\e920";
$icon-user-m: "\e921";
$icon-angle-arrow-down: "\e922";
$icon-mark: "\e923";
$icon-truck: "\e924";
$icon-info: "\e925";
$icon-loop: "\e926";
$icon-help: "\e927";
$icon-grid: "\e928";
$icon-list: "\e929";
$icon-basket: "\e92a";
$icon-medicines: "\e92b";
$icon-basket-2: "\e92c";
$icon-location: "\e92d";
$icon-fire: "\e92e";
$icon-health: "\e92f";
$icon-home: "\e930";
$icon-user-m1: "\e931";
$icon-sale2: "\e932";
$icon-clipboard: "\e933";
$icon-arrovv: "\e934";
$icon-heart: "\e935";
$icon-star-a: "\e936";
$icon-dislike: "\e937";
$icon-arr: "\e938";
$icon-doctor: "\e939";
$icon-call1: "\e93a";
$icon-calback: "\e93b";
$icon-phone-cl: "\e93c";
$icon-parcent-cl: "\e93d";
$icon-star-e: "\e9d7";
$icon-calendar: "\e93e";

$screenLg: 1200px;
$tabletWidth : 768px;
$desktopWidth : 992px;
$screen360 : "only screen and (max-width: 360px)";
$screen400 : "only screen and (max-width: 400px)";
$screen560 : "only screen and (max-width: 560px)";
$screen640 : "only screen and (max-width: 640px)";
$min640 : "only screen and (min-width: 641px)";
$tablet : "only screen and (min-width: " + $tabletWidth + ") and (max-width: " + ($desktopWidth - 1) + ")";

$large_desktop : "only screen and (min-width: " + $screenLg + ")";

$tablet_desktop : "only screen and (min-width: " + $tabletWidth + ")";
$desktop : "only screen and (min-width: " + $desktopWidth + ")";

$phone : "only screen and (max-width: " + ($tabletWidth - 1) + ")";
$phone_tablet : "only screen and (max-width: " + ($desktopWidth - 1) + ")";
$max1200 : "only screen and (max-width: " + ($screenLg - 1) + ")";

$tablet_large : "only screen and (min-width: " + $desktopWidth + ") and (max-width: " + ($screenLg - 1) + ")";