@import "../../vars";
@import "phone";
@import "drop";
@import "audio_link";
.no-scroll {
  overflow: hidden;
}

.header__wrapper {
  position: relative;
  z-index: 11100;
  background: #fff;
  @media #{$phone_tablet} {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  z-index: 20;
  padding: 6px 0 8px 0;
  transition: padding 0.2s;
  box-shadow: 2px 2px 15px rgba(128, 142, 184, 0.1);
  .logo {
    display: inline-block;
    vertical-align: middle;
  }

  &__wrapper {
    .container {
      @media #{$phone} {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .logo__image {
    display: block;
    width: 138px;
    @media #{$phone_tablet} {
      width: 90px;
      margin-top: 5px;
    }
    @media #{$phone} {
      width: 80px;
      margin-top: 4px;
    }
    @media  only screen and (max-width: 360px)  {
      width: 63px;
      margin-top: 5px;
    }
    //color: $blue;
    //font-size: 24px;
  }
  .logo-desc {
    display: none;
  }
  @media  only screen and (min-width: 768px)  {
    justify-content: space-between;
    .logo-desc {
      display: inline-block;
    }
  }
}

.header__panel {
  display: none;
  margin-left: auto;
  @media (min-width: 768px) {
    display: block;
    float: right;
  }

}
.container-menu {
  background-color: #fff;
}
.call-wrapper {
  background: transparent;
  position: fixed;
  bottom: 60px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}
.lab {
  .call-wrapper {
    display: none;
  }
}
.call {
  max-width: 224px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: $blue;
  border-radius: 20px;
  position: relative;
  height: 36px;
  line-height: 34px;
  display: block;
  text-decoration: none;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  i {
    margin-right: 10px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
    svg {
      width: 14px;
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #fff;
  }
}
.mobtoggler {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  display: block;
  width: 37px;
  height: 40px;
  .hamburger {
    display: block;
    width: 18px;
    height: 10px;
    margin: 16px 0 0 10px;
  }
  .hamburger__span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #737373;
    transition: all 0.1s;
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: -5px;
      width: 100%;
      height: 2px;
      background-color: #737373;
      transition: all 0.1s;
    }
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 5px;
      width: 100%;
      height: 2px;
      background-color: #737373;
      transition: all 0.1s;
    }
  }
}
.is--headersticky {
  &:not(.is--mobtoggled) {
    .header__wrapper {
      transform: translatez(0);
      position: fixed;
      top: 0;
      width: 100%;
      box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
      transition: all 0.2s linear;
    }
    .header__wrapper.fixed {
      box-shadow: none;
    }
    .user__feedback {
      margin-right: 18px;
    }
  }
}
.container-menu {
  .search {
    display: none;
  }
}
.is--mobtoggled {
  overflow: hidden;
  .container-menu {
    display: block;
    z-index: 100;
    margin-top: 45px;
    .search {
      display: block;
      float: none;
      position: fixed;
      top: 45px;
      width: 92%;
      z-index: 100;
    }
  }
  .hamburger__span {
    background-color: transparent;
    &:before {
      transform: rotate(45deg) translate(2px, 5px);
    }
    &:after {
      transform: rotate(-45deg) translate(2px, -5px);
    }
  }
  .header__wrapper {
    box-shadow: none;
  }
  //     display: block;
  //     position: fixed;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  // }
  .header__nav {
    display: block;
  }
  .header__panel {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: $blue;
    &:before {
      content: '';
      display: inline-block;
      height: 140px;
      width: 140px;
      opacity: 1;
      position: absolute;
      z-index: 0;
      bottom: -109px;
      right: 10px;
      transform: rotate(-44deg);
      background-color: #FE5000;
    }
    &:after {
      content: '';
      display: inline-block;
      height: 140px;
      width: 140px;
      opacity: 1;
      position: absolute;
      z-index: 0;
      bottom: -13px;
      right: -89px;
      transform: rotate(-44deg);
      background-color: #47D7AC;
    }
    .search__field {
      color: #5e6e71;
      width: 100%;
      background: rgba(255, 255, 255, 0.3);
      border: 0 solid;
      height: 40px;
      line-height: 40px;
      &::placeholder {
        line-height: 40px;
      }
    }
    .search__button {
      left: 23px;
      color: white
    }
    .links-mob {
      display: none;
    }
    .phones__link {
      &:hover {
        background-color: $blue;
      }
    }
    input[type=text] {
      &::-webkit-input-placeholder {
        color: #fff !important;
      }
      &:-moz-placeholder {
        color: #fff !important;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #fff !important;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #fff !important;
      }
      &::-ms-input-placeholder {
        color: #fff !important;
      }
    }
  }
  //.user {
  //    display: block;
  //}
  .mobtoggler {
    background: white;
    .hamburger {
      margin: 18px 0 0 12px;
    }
    .hamburger__span {
      &:before {
        background-color: $blue;
      }
      &:after {
        background-color: $blue;
      }
    }
  }
}
.links-mob {
  text-transform: uppercase;
  a {
    display: block;
    color: white;
    margin-top: 25px;
  }
  @media  only screen and (min-width: 768px) {
    display: none;
  }
}
@media #{$phone} {
  .no-scroll {
    position: fixed;
  }
}
@media (min-width: 991px) {
  .container-menu {
    .search {
      display: block;
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding: 14px 0 13px 0;
    //.logo__image {
    //    width: 113px;
    //    max-height: 35px;
    //    font-size: 33px;
    //}
  }
  .header__panel {
    display: block;
    float: right;
  }
  .call-wrapper {
    display: none;
  }
  .mobtoggler {
    display: none;
    .hamburger {
      display: none;
    }
  }
  .is--headersticky {
    &:not(.is--mobtoggled) {
      .header {
        padding: 10px 0 9px 0;
      }
      .user__feedback {
        display: inline-block;
        padding: 0 18px;
      }
    }
  }

}
@media  only screen and (min-width: 360px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    //.logo {
    //    &__image {
    //        width: 90px;
    //        font-size: 26px;
    //    }
    //}
  }
  .mobtoggler{
    .hamburger {
      margin-top: 21px;
      width: 22px;
      height: 22px;
    }
  }
}
@media #{$desktop} {
  .header {
    .logo {
      margin-right: 20px;
    }
  }
}

.header__nav .container {
  overflow: hidden;
}





